[Unit]
Description=Consul
Documentation=https://www.consul.io

[Service]
ExecStartPre=/bin/bash -c "/bin/systemctl set-environment PRIVATE_IP=$(ip addr show enp0s8 | grep 'inet ' | awk '{print $2}' | cut -f1 -d'/')"
ExecStartPre=/bin/bash -c "/bin/systemctl set-environment SERVER_NAME=$(hostname)"
ExecStart=/usr/bin/consul agent -server -bootstrap-expect=3 -data-dir=/tmp/consul -node=${SERVER_NAME} -client ${PRIVATE_IP} -bind=${PRIVATE_IP} -config-dir=/etc/consul.d -join 172.20.20.10 -dns-port=53 -recursor 8.8.8.8
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target